In [1]:
import pandas as pd
import numpy as np
import json 
import random

In [2]:
data = pd.read_excel('Parcel_09022024.xlsx')
data

,İL,İLÇE,MEVKİ,ADA,PARSEL,M2 NET,FİYAT,SATIŞ DURUMU,MENUNAME
0,BURSA,İZNİK,ELBEYLİ,1145,287,368.0,3128000,Satıldı,BURSA İZNİK
1,BURSA,İZNİK,ELBEYLİ,1145,288,398.0,3383000,Satıldı,BURSA İZNİK
2,BURSA,İZNİK,ELBEYLİ,1145,289,442.0,3757000,Satıldı,BURSA İZNİK
3,BURSA,İZNİK,ELBEYLİ,1394,7,306.0,2601000,Satıldı,BURSA İZNİK
4,BURSA,İZNİK,ELBEYLİ,1394,8,360.0,3060000,Satışa Açık,BURSA İZNİK
...,...,...,...,...,...,...,...,...,...
1012,Balıkesir,Ayvalık,Çamoba,104/1,72.,289.0,2167500,Satışa Açık,AYVALIK 2
1013,Balıkesir,Ayvalık,Çamoba,104/1,73.,303.0,2272500,Satışa Açık,AYVALIK 2
1014,Balıkesir,Ayvalık,Çamoba,104/1,74.,303.0,2272500,Satışa Açık,AYVALIK 2
1015,Balıkesir,Ayvalık,Çamoba,104/1,75.,286.0,2145000,Satışa Açık,AYVALIK 2
1016,Balıkesir,Ayvalık,Çamoba,104/1,76.,325.0,2437500,Satıldı,AYVALIK 2

In [3]:
data.isnull().sum()

İL              0
İLÇE            0
MEVKİ           0
ADA             0
PARSEL          0
M2 NET          0
FİYAT           0
SATIŞ DURUMU    0
MENUNAME        0
dtype: int64

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017 entries, 0 to 1016
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   İL            1017 non-null   object
 1   İLÇE          1017 non-null   object
 2   MEVKİ         1017 non-null   object
 3   ADA           1017 non-null   object
 4   PARSEL        1017 non-null   object
 5   M2 NET        1017 non-null   float64
 6   FİYAT         1017 non-null   int64
 7   SATIŞ DURUMU  1017 non-null   object
 8   MENUNAME      1017 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 71.6+ KB